'.source.js':
  'ngdoc-filter':
    'prefix': 'ngdoc-filter'
    'body': """
    /**
     * @ngdoc filter
     * @name ${1:app.module}.filter:${2:filter}
     *
     * @requires ${3:dependencies}
     *
     * @description
     * ${4:The `${2:filter}` filter description.}
     */
    """
