'.source.js':
  'ngdoc-method':
    'prefix': 'ngdoc-method'
    'body': """
      /**
       * @ngdoc method
       * @name ${1:app.module}#${2:method-name}
       * @methodOf ${1:app.module}.${3:component-type}:${4:component-name}
       *
       * @description
       * ${5:Descpription for ${2:method-name} method within ${1:app.module}.}
       *
       * @param {${6:type}\\} ${7:name} ${8:description}
       *
       * @returns {${9:type}\\} ${10:name} ${11:description}
       */
    """
