'.source.js':
  'ngdoc-factory':
    'prefix': 'ngdoc-factory'
    'body': """
      /**
       * @ngdoc service
       * @name ${1:app.module}.${2:factory}
       *
       * @requires ${3:dependencies}
       *
       * @description
       * ${4:The `${2:factory}` factory description.}
       */
    """
